@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background: white;
  /*background: linear-gradient(148deg, rgba(2, 0, 36, 1) 0%, rgba(131, 86, 177, 1) 49%, rgba(0, 212, 255, 1) 100%);*/
  background-attachment: fixed;
  margin: 0; }

.main {
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px auto; }

.navigation__base {
  padding: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: gray; }

.navigation__link {
  font: 18px Sans black;
  text-align: center;
  text-decoration: none;
  color: #e7e7e7;
  padding: 8px;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.navigation__link:hover {
  color: #f1cd00;
  background-color: #383232; }

.main__header {
  color: gray;
  /* Nie stosować importanta. Ważność (specyficzność) identyfikatorów stylowania: !important, <style="">, #id, .class, element {parametr: nastawa;}    id do nawigacji, class do stylowania*/
  /* Aby stylować strony we wszystkich podkatalogach zastosuj składnię href="../style.css"*/ }

.about {
  display: -ms-grid;
  display: grid;
  background: -webkit-linear-gradient(302deg, rgba(113, 113, 116, 0.1) 0%, rgba(55, 50, 59, 0.1) 49%, rgba(194, 142, 0, 0.1) 100%);
  background: -o-linear-gradient(302deg, rgba(113, 113, 116, 0.1) 0%, rgba(55, 50, 59, 0.1) 49%, rgba(194, 142, 0, 0.1) 100%);
  background: linear-gradient(148deg, rgba(113, 113, 116, 0.1) 0%, rgba(55, 50, 59, 0.1) 49%, rgba(194, 142, 0, 0.1) 100%);
  border-radius: 0% 10%;
  /* Taka konfiguracja parametrów width i max-width umożliwia stworzenie podstawowej resposywności, jeśli chodzi o                                wielkość ekranu. vw - viewport width vh - viewport height; elementy zdefiniowane z użyciem obu jednostek zmieniają                           się dynamicznie przy skalowaniu okna przeglądarki; nie warto ich używać jednak do wszystkiego */ }

.about__header {
  color: gray;
  -ms-grid-row: 1;
  grid-area: 1; }

.about_photo {
  -ms-grid-row: 2;
  grid-area: 2;
  max-width: 97px;
  margin-right: 12px;
  border-radius: 0% 50%; }

.about__paragraph {
  -ms-grid-row: 2;
  grid-area: 2;
  line-height: 24px;
  padding-left: 5px;
  border-left: 5px solid #f1cd00;
  border-radius: 0px;
  margin: 16px 16px;
  text-align: justify;
  text-indent: 32px; }

.about__paragraph--color {
  color: #f1cd00;
  border: none;
  -ms-grid-row: 3;
  grid-area: 3; }

.about__paragraph--pusty {
  -ms-grid-row: 4;
  grid-area: 4;
  margin: 16px; }

/* W modelu BEM w HTML-u powtarzaemy nazwę elementu "about__paragraph", aby element podrzędny różnił się tylko wypisaną wartością (tu "color"), a resztę dziedziczył z elementu nadrzędnego, np. font-size. */
.days {
  color: gray; }

.day__header {
  color: black; }

.day__paragraph {
  padding-left: 5px;
  border-left: 5px solid #f1cd00;
  border-radius: 0px;
  margin-left: 16px;
  line-height: 24px; }

.day__link {
  color: #776501; }

.article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr; }

.article__header {
  color: gray;
  font-size: 1.5em;
  line-height: 32px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 0;
  grid-row-end: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2; }

.article__paragraph {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2; }

.article__footer {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 0;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 0;
  grid-column-end: 1; }

.article__footer--photo {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 0;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  border-radius: 0% 50%; }

.footer {
  display: block;
  max-width: 900px;
  margin: 35px auto; }

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px; }

@media screen and (min-width: 961px) {
  .main {
    max-width: 1000px; }
  .menuButton__container {
    display: none; }
  .menuButton {
    display: none; }
  .navigation__base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .navigation__link {
    -ms-flex-negative: 1;
        flex-shrink: 1; } }

@media screen and (min-width: 250px) and (max-width: 960px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .day__header {
    color: black;
    font-size: 1.5em; }
  .menuButton__container {
    background-color: #535252; }
  .menuButton {
    color: white;
    border: none;
    background: none;
    font-size: 2em; }
  .navigation__base {
    display: none;
    position: absolute; }
  .navigation__link {
    -ms-flex-negative: 2;
        flex-shrink: 2; }
  .navigation__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (min-width: 150px) and (max-width: 249px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .day__header {
    color: gray;
    font-size: 2em; }
  .menuButton__container {
    background-color: #535252; }
  .menuButton {
    color: lightgray;
    border: none;
    background: none;
    font-size: 2em; }
  .navigation__base {
    display: none;
    position: absolute;
    width: 100vw; }
  .navigation__link {
    -ms-flex-negative: 2;
        flex-shrink: 2; }
  .navigation__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

/* Poniżej 655px wyświetlana będzie 1 kolumna zamiast dwóch - dostosowanie do nośnika = media (np. smartfon)*/

/*# sourceMappingURL=main.css.map */
